{% if blog.tags.size > 0 %}
  <section class="section blog-filter">
    <ul class="blog-filter__list">
     <li class="blog-filter__list-item "><a href="{{ blog.url }}">{{ 'blog.filter.all' | t }}</a></li>
      {% for tag in blog.all_tags %}
        <li class="blog-filter__list-item {% if current_tags contains tag %}blog-filter__list-item--active{% endif %}">{{ tag | link_to_tag: tag }}</li>
      {% endfor %}
    </ul>
  </section>
{% endif %}
