<header class="collection-header">
  <h1 class="collection-header__heading">{{ collection.title }}</h1>
  {% if collection.description != blank %}
    <div class="collection-header__content rte">
      {{ collection.description }}
    </div>
  {% endif %}
</header>
