<svg xmlns="http://www.w3.org/2000/svg" width="46" height="28" viewBox="0 0 46 28"><defs><style>.cls-1{fill:#1d1d1b;}</style></defs><title>email</title><g id="Layer_2" data-name="Layer 2"><g id="Layer_1-2" data-name="Layer 1"><path class="cls-1" d="M0,0V27.62H45.39V0ZM3.75,1.75H41.63L22.69,12.8Zm-2,.86L22.69,14.82l21-12.21V25.87H1.75Z"/></g></g></svg>
