<!-- <div class="cart-popup-item">
  <div class="cart-popup-item__image-wrapper hide" data-cart-popup-image-wrapper data-image-loading-animation></div>
  <div class="cart-popup-item__description">
    <div>
      <h3 class="cart-popup-item__title" data-cart-popup-title></h3>
      <ul class="product-details" aria-label="{{ 'mini-cart.product_details' | t }}" data-cart-popup-product-details></ul>
    </div>
    <div class="cart-popup-item__quantity">
      <span class="visually-hidden" data-cart-popup-quantity-label></span>
      <span aria-hidden="true">{{ 'mini-cart.quantity' | t }}:</span>
      <span aria-hidden="true" data-cart-popup-quantity></span>
    </div>
  </div>
</div> -->