<div class="product__content product-content" itemprop="offers" itemscope itemtype="http://schema.org/Offer">

  <link itemprop="availability" href="http://schema.org/{% if currentVariant.available %}InStock{% else %}OutOfStock{% endif %}">

  <h1 class="product-content__title">{{product.title}}</h1>
  <div class="product-content__description rte">{{product.description}}</div>

  {% render 'product-content-form', product: product, currentVariant: currentVariant %}

  {% render 'social-sharing', share_title: product.title, share_permalink: product.url, share_image: product %}

</div>

