input,
textarea,
select
  appearance: none
  font-size: 1em
  line-height: inherit
  font-family: inherit
  border: .0625em solid $black
  border-radius: 0
  max-width: 100%
  width: 100%
  background-color: transparent
  padding: .5em 1em

button,
input[type='submit'],
label[for]
  cursor: pointer

select::-ms-expand
  display: none

// // Default styles from Shopifys starter theme - modified

// a,
// area,
// button,
// [role='button'],
// input,
// label,
// select,
// summary,
// textarea
//   touch-action: manipulation

// input,
// textarea,
// select

//   &[disabled]
//     background-color: $thirdColour
//     cursor: default

//   &:hover, &:focus
//     border-color: rgba($firstColour, $opacityHover)

// textarea
//   min-height: 60px



// // Force option color (affects IE only)
// option
//   background-color: $firstColour
//   color: $secondColour

// label
//   display: block
//   margin: 0 0 .5em

// .input-error
//   border-color: $error

// .form-container
//   display: flex
//   flex-direction: column
//   &__header
//     text-align: left
//     margin-bottom: 2.25em
//     width: 100%
//   p
//     &:last-of-type
//       margin: 0

// .form
//   &__notify
//     background: $firstColour
//     color: $secondColour
//     padding: .5em 1.5em
//     text-align: center
//     margin: 0 auto 2.25em
//     &--success
//       background: $success
//     &--error
//       background: $error
//     ul
//       list-style: none
//       margin: 0
//       padding: 0

// .form-row
//   margin: 0 auto 2.25em
//   &__checkbox-container
//     display: flex
//     justify-content: flex-start
//   &--submit
//     display: flex
//     justify-content: space-between
//     flex-wrap: wrap
//     .text-link
//       padding: 1em 0

// input[type="checkbox"],
// input[type="radio"]
//   transition: background $transitionDuration ease, opacity $transitionDuration ease
//   opacity: 1
//   width: 1.25em // 20px
//   height: 1.25em // 20px
//   appearance: none
//   border: 1px solid $firstColour
//   padding: 0
//   margin: 2px 1em 0 0
//   cursor: pointer
//   background-image: linear-gradient($firstColour, $firstColour)
//   background-size: 0% 0%
//   background-position: center
//   background-repeat: no-repeat

//   &:hover
//     opacity: $opacityHover

//   &:checked
//     background-size: 70% 70%

// input[type="radio"]
//   border-radius: 100%
//   background-image: radial-gradient(circle, $firstColour 70%, white 70%)

