{% render 'breadcrumbs' %}

{% render 'page-title', title: page_title %}

<section class="info">
  <div class="info__block info-block">
    {% render 'customer-register-form' %}
  </div>
</section>


