{%- assign current_variant = product.selected_or_first_available_variant -%}
{%- assign featured_image = current_variant.featured_image | default: product.featured_image -%}

<section class="product">
  {% render 'product-images' %}
  {% render 'product-content', currentVariant: current_variant %}
</section>