{% comment %}
  It’s possible to increase the data-limit as the recommendation algorithm
  associates up to ten products per individual product, in order of relevance.
  However, if you want to promote only the most relevant recommendations,
  it’s advised that you show no more than four products per product page.
{% endcomment %}
<div class="product-recommendations" data-product-id="{{ product.id }}" data-limit="4">
  {%- if recommendations.performed -%}
    {%- if recommendations.products_count > 0 -%}
      <h2>{{ 'products.recommendations.title' | t }}</h2>
      <div class="product-recommendations__container">
        {%- for product in recommendations.products -%}
          {% render 'collection-product', product: product %}
        {%- endfor -%}
      </div>
    {%- endif -%}
  {%- endif -%}
</div>