{% comment %}
  Custom template for testing styles applied to RTE content.
  Remove before deploying to production/publishing your theme.
{% endcomment %}

<div class="styles">
  <h1>{{ page.title }}</h1>

  <p>This page is here to show off styles for standard page elements such as typography, form elements, and icons. These are hard coded in an alternate page template file, named <code>page.styles.liquid</code>.</p>

  <hr>

  <h2 class="docs-title">Typography</h2>

  <h1>Heading one</h1>
  <h2>Heading two</h2>
  <h3>Heading three</h3>
  <h4>Heading four</h4>
  <h5>Heading five</h5>
  <h6>Heading six</h6>

  <h4 class="docs-title">Paragraphs</h4>
  <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper.</p>
  <p>Suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat.</p>

  <h4 class="docs-title">Type styles</h4>
  <ul>
    <li><strong>Strong</strong></li>
    <li><em>Emphasis</em></li>
    <li><a href="#">Inline link</a></li>
    <li><span style="text-decoration: line-through;">Strike</span></li>
    <li><sup>Sup</sup></li>
  </ul>

  <h4 class="docs-title">Blockquotes</h4>
  <blockquote>
    <p>Eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi. Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim placerat facer possim assum.</p>
    <cite>The author of the quote</cite>
  </blockquote>

  <h4 class="docs-title">Lists</h4>
  <h6><code>ul</code> (default)</h6>
  <ul>
    <li>One</li>
    <li>Two</li>
    <li>Three</li>
    <li>Four</li>
  </ul>
  <h6>Numeric bullet <code>ol</code> (default)</h6>
  <ol>
    <li>One</li>
    <li>Two</li>
    <li>Three</li>
    <li>Four</li>
  </ol>
  <h6>Child lists (to match the RTE styles)</h6>
  <ul>
    <li>One</li>
    <li>Two</li>
    <li>Three, with child list
      <ul>
        <li>First sub item</li>
        <li>Second sub item</li>
        <li>Third sub item, with child list
          <ul>
            <li>Third level item</li>
            <li>Another third level item</li>
          </ul>
        </li>
      </ul>
    </li>
    <li>Four</li>
  </ul>

  <hr>

  <h2 class="docs-title">Responsive tables</h2>

  <table class="responsive-table">
    <thead>
      <tr>
        <th>Order</th>
        <th>Date</th>
        <th>Payment Status</th>
        <th>Fulfillment Status</th>
        <th>Total</th>
      </tr>
    </thead>
    <tbody>
      <tr class="responsive-table-row">
        <td data-label="Order">#1001</td>
        <td data-label="Date">December 22, 2015</td>
        <td data-label="Payment Status">Authorized</td>
        <td data-label="Fulfillment Status">Unfulfilled</td>
        <td data-label="Total">$43.03</td>
      </tr>
      <tr class="responsive-table-row">
        <td data-label="Order">#1002</td>
        <td data-label="Date">December 23, 2015</td>
        <td data-label="Payment Status">Authorized</td>
        <td data-label="Fulfillment Status">Unfulfilled</td>
        <td data-label="Total">$44.03</td>
      </tr>
      <tr class="responsive-table-row">
        <td data-label="Order">#1003</td>
        <td data-label="Date">December 24, 2015</td>
        <td data-label="Payment Status">Authorized</td>
        <td data-label="Fulfillment Status">Unfulfilled</td>
        <td data-label="Total">$45.03</td>
      </tr>
      <tr class="responsive-table-row">
        <td data-label="Order">#1004</td>
        <td data-label="Date">December 25, 2015</td>
        <td data-label="Payment Status">Authorized</td>
        <td data-label="Fulfillment Status">Unfulfilled</td>
        <td data-label="Total">$46.03</td>
      </tr>
      <tr class="responsive-table-row">
        <td data-label="Order">#1005</td>
        <td data-label="Date">December 26, 2015</td>
        <td data-label="Payment Status">Authorized</td>
        <td data-label="Fulfillment Status">Unfulfilled</td>
        <td data-label="Total">$47.03</td>
      </tr>
      <tr class="responsive-table-row">
        <td data-label="Order">#1006</td>
        <td data-label="Date">December 27, 2015</td>
        <td data-label="Payment Status">Authorized</td>
        <td data-label="Fulfillment Status">Unfulfilled</td>
        <td data-label="Total">$48.03</td>
      </tr>
    </tbody>
  </table>

  <hr>

  <h2 class="docs-title">Forms</h2>

  <h4 class="docs-title">Default form elements</h4>

  <form class="form">
    <div class="form__row form-row">
      <input type="text" id="text1">
      <label for="text1">Text Field</label>
    </div>

    <div class="form__row form-row">
      <input type="text" id="text3" disabled="disabled">
      <label for="text3">Disabled Field</label>
    </div>

    <div class="form__row form-row form-row--error">
      <input type="text" id="text5" class="">
      <label for="text5" class="">Invalid Entry (Error)</label>
    </div>

    <div class="form__row form-row">
      <input type="checkbox" id="checkInline">
      <label for="checkInline" class="inline">Checkbox Label</label>
    </div>

    <div class="form__row form-row form-row--select">
      <label for="select1">Select Field</label>
      <select id="select1">
        <option value="0">-- Choose --</option>
        <option value="1">Option 1</option>
        <option value="2">Option 2</option>
        <option value="3">Option 3</option>
      </select>
    </div>

    <div class="form__row form-row">
      <textarea id="textarea1"></textarea>
      <label for="textarea1">Textarea</label>
    </div>

    <div class="form__row form-row form-row--file">
      <label for="file1">File Field</label>
      <input id="file1" type="file">
    </div>
  </form>

  <hr>

  <h2 class="docs-title">Buttons</h2>

  <p>
    <a href="#" class="button">Default button</a>
  </p>

  <p>
    <a href="#" class="button button--primary">Primary button</a>
  </p>

  <p>
    <a href="#" class="button button--secondary">Secondary button</a>
  </p>

  <p>
    <a href="#" class="button button--tertiary">Tertiary button</a>
  </p>

  <p>
    <a href="#" class="button" disabled>Button disabled</a>
  </p>

  <hr>

  <h2 class="docs-title">SVG icons</h2>

  <h4 class="docs-title">Social icons</h4>
  <ul>
    <li>{% render 'icon-facebook' %}</li>
    <li>{% render 'icon-instagram' %}</li>
    <li>{% render 'icon-linkedin' %}</li>
    <li>{% render 'icon-pinterest' %}</li>
    <li>{% render 'icon-spotify' %}</li>
    <li>{% render 'icon-twitter' %}</li>
    <li>{% render 'icon-vimeo' %}</li>
    <li>{% render 'icon-youtube' %}</li>
  </ul>

  <h4 class="docs-title">General icons</h4>
  <ul>
    <li>{% render 'icon-email' %}</li>
    <li>{% render 'icon-search' %}</li>
  </ul>
</div>
